body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #020617;
    padding: 30px;
    width: 400px;
    border-radius: 15px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin: 15px 0;
    resize: none;
}

button {
    background: #38bdf8;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

#result {
    margin-top: 20px;
}